{% extends "base.html" %}
{% block content %}
    <h2>About</h2>
    <p>
        On April 26, 2941, Gandalf and the Dwarves arrived at Bag End. After a big tea and supper with Bilbo, they
        explained themselves and their intentions. Bilbo was at first reluctant to join the group but Gandalf rushed him
        out of the door.
    </p>

    <div class="row featurette">
        <div class="col-md-7">
            <h3>Thoren Oakenshield</h3>
            <p>
                Thorin II was born in TA 2746 to Dwarf prince Thráin II in the city of the Lonely Mountain. Early in his
                youth, he and the other Dwarves of the Lonely Mountain were forced to flee by the dragon Smaug in TA
                2770. While in exile, he quickly grew to become a capable warrior. This was demonstrated when he
                participated in the Battle of Azanulbizar in TA 2799. He fought with one of the Dwarven armies beneath
                the East-gate of Moria. At some point in the fighting, his shield broke, and using an oaken tree branch
                found on the ground as a shield, he gained the epithet "Oakenshield," which would remain with him even
                in death.[2]

                Thorin became King-in-Exile of Durin's Folk in TA 2850 after his father went missing, and died in the
                dungeons of Dol Guldur.
            </p>
        </div>
        <div class="col-md-5">
            <img src="https://static.wikia.nocookie.net/lotr/images/7/76/Orcrist-Sword-of-Thorin-Oakenshield.jpg" alt="">
        </div>
    </div>
    <div class="row featurette">
        <div class="col-md-5">
            <img src="https://vignette.wikia.nocookie.net/lotr/images/b/b4/The-Hobbit-Fili-and-Kili.jpg" alt="">
        </div>
        <div class="col-md-7">
            <h3>Fili and Kili</h3>
			<p>
				Fíli and Kíli were nephews of Thorin, who was the elder brother of their mother Dís. They were also nephews of
				Frerin, grandsons of Thráin II, and great-grandsons of Thrór. Fíli's most distinguishing feature was his long nose,
				the longest of any of the Dwarves in Thorin's company.
			</p>
        </div>
    </div>
{% endblock %}